{% extends 'index.html' %}
{% block body %}

		<main class="content">
			<section class="centered">
				<h3>About Us</h3>
				<div class="textcontent">
					<p>
					 What2Watch is a web application which provides an interface consisting of movies, classified into different genres. We rank the movies based on imdb rating, box office collection, and year of release to help you find the best movies till date.
					</p>
					<p>
						We help you find your favourites. Our recommendation algorithm recommends you the best movies for you based on your likings and your taste of movies. There are many apps who recommend movies based on only the rating of other people and their popularity. But our top priority is your choices of movies.
					</p>
					<p>
						Every person has a different personality and so does his/her choices differ. Our goal is to understand their likings and recommend the best for them.
					</p>

				</div>

		</section>

	</main>

	{% endblock body %}
