{% extends 'index.html' %}
{% block body %}

		<main class="content">
			<section class="centered">
				<h3>About Us</h3>
				<div class="textcontent">
					<p>
					 Musify is a web-app which provides an interface consisting of song covers by various Independent singers, classified into different genres, ranging from Pop Music, Rock, Electronic, Bollywood Singles, Bollywod Romantic and Animated Music Videos. Each song has its own page having the singer's embedded Youtube Video, it's rating , popularity, etc.
					</p>
					<p>
						Our mission is to provide a platform for all the independent singers having the power of music in their voice, and have posted their videos on Youtube. But , youtube isn't enough , they need a proper platform , where all the covers are in one place.
					</p>

				</div>

		</section>

	</main>

	{% endblock body %}
