{% extends 'index.html' %}
{% load static %}
{% block body %}

<main class="content">
	<section class="centered">
		<h3>Add Movie</h3>
		<div class="contact">
			<form id="myForm" action="/add_admin/" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<br>
				<p style="color:white">• We support only IMDB standard image sizes.</p>
				<p style="color:white">• Please select a cover image of dimensions 182 x 268 px</p>
				<input type="submit" name="submit" value="ADD MOVIE">
			</form>
		</div>
	</section>

</main>

{% endblock body %}
